/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2017, 12:42:51 AM
    Author     : shawn
*/
.button{
    -fx-background-color: #0039a6; 
    -fx-padding: 10px 15px 10px 15px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-width: 0px;
    -fx-border-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}
.bar_button{
    
}
.color-picker {
}
.combobox .arrow-button {
    -fx-background-color: #0039a6;
}
.combobox .arrow {
    -fx-background-color: white;
}
.combobox{
    -fx-background-color:  white;
    -fx-background-radius: 3px, 3px, 3px, 3px;
    -fx-padding: 5px 10px 5px 10px;
    -fx-border-insets: 5px 10px 5px 10px;
    -fx-background-insets: 5px 10px 5px 10px;
}
.edit_toolbar {
    -fx-background-color: #c8e0cb;
    -fx-border-width: 0px 2px 0px 2px;
    -fx-border-color: #0039a6;
}
.edit_toolbar_row {
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #c8e0cb;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #0039a6;
}

.color_chooser_pane {

}

.color_chooser_control {
  
}

.bordered_pane {
    -fx-background-color: #d2eefb;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px 1px 2px 1px;
    -fx-border-color: #0039a6;
}
.slider{
}
.welcome_col-1{
    -fx-width: 400;
    -fx-height: 900;
    -fx-background-color: yellow;
}
.welcome_col-2{
    -fx-width: 500;
    -fx-height: 900;
    -fx-background-color: blue;
}