/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2017, 4:31:49 PM
    Author     : shawn
*/
.list-view .list-cell:even {
    -fx-font-weight: bold;
}
.list-view .list-cell:odd {
    -fx-background-color: #0039a6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

